/* Dubyas list of annoying stuff he hides in discord using Quick CSS */

/* Want to have this be synced up with your Discord so you don't need to re-copy and paste this for new additions?
 * Feel free to just import this gist directly by adding the following line:
 * @import url("https://raw.githubusercontent.com/DubyaDude/DubyasCleanupOfDiscord/main/DubyasCleanupOfDiscord.css");
 */

/* Disable profile edit page upsell */
div[class^="settingsPage_"] > div > div[class^="container_"],
div[class^="settingsPage_"] > div > div[class*="floatingNitroUpsell_"],
div[class^="settingsPage_"] > div > div > div[class*="tryItOutSection_"],
/* Disable profile view upsell */
aside[class*="upsellContainer_"],
/* Disable character count upsell */
div[class^="characterCount_"] > div[class*="upsell_"]
{
    display:none;
}


/* Disable emoji inspection upsell (ty Regalia) */
div[class^="emojiSection_"] > button[class^="shinyButton_"],
div[class*="burstReactionTooltipPrompt_"]
{
    display:none;
}

/* Disable Gift Button(s) (in chat) */
div[aria-label="Send a gift"]
{
    display: none;
}

/* Hide Channel App Launcher in chat */
[class$="app-launcher-entrypoint"]
{
    display:none;
}

/* Hide things in DMs page */
li div a[href="/shop"], /* Hide 'Shop' Tab */
li div a[href="/quest-home"], /* Hide 'Quest' Tab */
li div a[href="/store"] /* Hide 'Ntiro' Tab */
{
  display: none;
}

/* Profile effects */
[class*="profileEffects_"]
{
    display: none;
}

/* Avatar Decorations */
svg[class^="avatarDecoration_"],             /* Avatar Decorations */
img[class^="avatarDecoration_"],             /* Avatar Decorations in Messages */

/* Hide nameplates background decoration on members list and DM list (ty Regalia) */
/* DMs */
li[class*="dm_"] > div > div[class*="container_"]:has(div[class^=videoContainer_], img[class*=img_]){
    background: none !important; 
    display: none;
}
/* Image */
div[class*="member_"] > div > div[class*="container_"] > :is(div[class^=videoContainer_], img[class*=img_]) {
    display: none;
}
/* Color fade */
div[class*="member_"] > div > div[class*="container_"]:has(div[class^=videoContainer_], img[class*=img_]) {
    background: none !important; 
}
/* Self */
div[class*="fitInAccount_"] > :is(div[class^=videoContainer_], img[class*=img_]) {
    display: none; 
}
div[class*="fitInAccount_"]:has(div[class^=videoContainer_], img[class*=img_]) {
    background: none !important; 
}

/* Disable nitro icon on members list hover and opening nitro page */
div[class*=nameAndDecorators_] > span > div[role="button"]:has(svg[class*=premiumIcon])
{
    pointer-events: none;
}

/* Disable clan tag in messages, memebers list, and popout profile view */
div[class^=body_] > span[class^="clickable_"] [role="button"],
div[class*=compact_] span[class*="clanTagChiplet_"], /* (ty SupDos on Github) */
span[class*="clanTagChiplet_"],
span[class*="clanTag_"]
{
    display: none;
}

/* Hide 'Explore Discoverable Servers'/'Discover' in server page */
div[class*="listItem"]:has(div[data-list-item-id="guildsnav___guild-discover-button"])
{
  display: none;
}

/* Make Super Reactions less annoying (ty Regalia) */
div[class^="effectsWrapper_"]
{
    display: none;
} 
img.emoji
{
    opacity: 100;
}
div[class*="shakeReaction_"]
{
    animation: none !important;
}

/* Remove "Promoted" Quest in Active Now sidebar */
div[class^="itemCard__"] > div > div[class^="body__"]:has(span[class^="promotedTagBackground__"]) {
    display: none;
}

/* Remove that gradiented annoying banner that's only used for Nitro advertisements */
div[class*=notice_] {
    display: none;
}
